[Desktop Entry]
Name=DENIOS Lockscreen
X-KDE-PluginInfo-Name=DENIOSLockScreen
X-KDE-PluginInfo-Author=Denis Maslo
X-KDE-PluginInfo-Email=denios-linux@proton.me
