[Desktop Entry]
Name=Denios Lockscreen
X-KDE-PluginInfo-Name=DeniosLockScreen
X-KDE-PluginInfo-Author=Denis Maslo
X-KDE-PluginInfo-Email=denios-linux@proton.me
Name[hr_HR]=metadata.desktop
