[Desktop Entry]
Name=Denios

X-KDE-PluginInfo-Name=denios
X-KDE-PluginInfo-Author=Denis Maslo
X-KDE-PluginInfo-Email=denios-linux@proton.me
#X-KDE-PluginInfo-License=GPL-2
Name[hr_HR]=Denios
