[Desktop Entry]
Name=Denios

X-KDE-PluginInfo-Name=denios
X-KDE-PluginInfo-Author=Denis Maslo
X-KDE-PluginInfo-Email=denios-linux@proton.me
Name[hr_HR]=metadata
